<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>charls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>dcm2pdf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>dcm2pnm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>dcm2xml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dcmcjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>dcmcjpls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>dcmconv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>dcmcrle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>dcmdata.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>dcmdjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>dcmdjpls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>dcmdrle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>dcmdsig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>dcmdspfn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>dcmdump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>dcmftest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>dcmgpdir.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>dcmimage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>dcmimgle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>dcmj2pnm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>dcmjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>dcmjpls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>dcml2pnm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>dcmmkcrv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>dcmmkdir.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>dcmmklut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>dcmnet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>dcmodify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>dcmp2pgm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>dcmprscp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>dcmprscu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>dcmpschk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>dcmpsmk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>dcmpsprt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>dcmpsrcv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>dcmpssnd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>dcmpstat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>dcmqrdb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>dcmqridx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>dcmqrscp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>dcmqrti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>dcmquant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>dcmscale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>dcmsign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>dcmsr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>dcmtls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>dcmwlm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>dcod2lum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>dconvlum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>dsr2html.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>dsr2xml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>dsrdump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>dump2dcm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>echoscu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>findscu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>i2dbmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ijg12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>ijg16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>ijg8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>img2dcm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libi2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>mkreport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>movescu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>oflog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ofstd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pdf2dcm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>storescp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>storescu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>termscu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>tstchval.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tstpath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tstpread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tvrdatim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>wlmscpfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>xml2dcm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>xml2dsr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02D7A84A390A4589B3534905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048756022A7849699AC30036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13C6380E718B42038F787246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14595507B6C34DFB856D1D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A47A69FDED0494FA7E54018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F71CDC2F02E47268792D6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28D5A2FDD1254827981ED0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC7550E0FF441EBEC23BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D84154FCD334BF0A78FCA1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E865F8AD3A94FAFA5126845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>301BAF8137A34F64B03C3704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33593003682C410EAF40A4A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34BDBDC76E464241AEE389FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3752411D2E0541F7914A060F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>378D057877EB44A6B569953E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382141C5B582452E9E034D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>390329356A2942488BB1647D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA403EBC75C48218B36305B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA491B9625245C590DEA050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7E06ADB73F4D639E9C7C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A598E04C01459BA3900FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BAB0A79888A4A1B989DAEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E48ED454FA94DD1862ACF57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5056B569A6424B16AFCC2DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527E63C7D0474983BD75B19D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A3D737D7DF468EA545504A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>547A1EA038254480A3F49C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E27CB3C228C44B396C2E1EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6FFD2CE9084404AA2BD167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2D6FA25A7E47EDB0639E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62DEA4C32877400195C6BF0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69373CB5CC324500A12DEC0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2F86BA9E0245E3B878BBCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F950404BB34AF8AA132ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7382683DBBA64732B24567AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B411EBB6E8D40B69B190956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C000D446E364F2FA65929F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E46D8E72291413491E4DDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F77775B79A94D7B9B668B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>816D560E1DE848B39283B343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8578826D1F8749259BAA3F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E28D6E89A34B44ADD64CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8741337C69774F97AAB53AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89B50598BCE9445BA3B85111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB81679852B46B294FEC85D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AC31F68F7A946B3A2F692FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF8B814BD4F43D483B79119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C181D965DD24ACBA79BEAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C44CE7A50DB49DAB7F74827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D37A8D591FF42AAB00C15C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DEB65569C3242A9B0D7CEE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E760A4D88434AD094197512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC63113FD634696AAEFB18A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903FAD26B91F4488A9D34AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C305A6793244088EC4A540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947A28FB70194138B1ABC4C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C546CD6402F49328E7972A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E8832B2D55491288EF392D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A294A5BFE5E44300A7B8BAE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4BC05AC8D25442582D34D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F2744BEAB54C5A8FD3A8A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD32A456A3864F518FAD99FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD83E2B9E984908A0C8A334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38166760B254144BDB265B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57C35B8E79C40F48A3E6B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71DDC7B929E423CB930F115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C83912BDC7964CDE89EDA9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C889FF7CF6D84F3B8C00337D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA8698DDB015490486B89458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34E65E1D660453A9B65DCF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50992111C4F43E48267FAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A880A0D7CA41CFA2A1BA07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1B02CC917742CF9EDD2873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC317D18097840B9B5332CF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4D2A8F9F6D4D489BDFE2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11CCD8660F6421D84B28675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FA992CBB0942E29087C68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD74A5846EB419FBB3FD630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEDE8A01949D44DA86CE74B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
